<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<style>
    :root {
        --swiper-navigation-color: var(--primary-color);
    }

    .swiper-slide {
        display: grid;
        place-items: center;
        position: relative;
    }
    .slide-text {
        background: rgba(86, 53, 30, 0.6);
        color: white;
        position: absolute;
        bottom: 0;
        /*left: calc((100% - 800px) / 2 );*/
        margin: 0 auto;
        width: 100%;
        /*max-width: 800px;*/
        min-height: 50px;
        text-align: center;
        padding: 0.25em;
        font-size: 1.5em;
    }

</style>
{{ with . }}
<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {{ range . }}
    {{ $image := .Resize "1200x" }}
    {{ $filename := $image.RelPermalink }}
    <div class="swiper-slide">
      <img
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
        data-src="{{  $filename }}"
        alt="{{ $filename }}"
        class="swiper-lazy"
      >
      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      <div class="slide-text">{{ $image.Title }}</div>
    </div>
    {{ end }}

  </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

<script>
    const mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        loop: true,
        lazy: {
            loadPrevNext: true,
        },
        preloadImages: false,

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: true,
    });
</script>
{{ end }}
