.landing {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    " hero "
    " widgets ";
  gap: 1rem;

  .hero {
    grid-area: hero;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    .call-to-action {
      text-align: center;
    }
  }

  .widgets {
    grid-area: widgets;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: start;
    gap: 1rem;

    .widget {
      .title {
        text-align: center;
      }

      img {
        width: 100%;
        object-fit: cover;
        height: 300px;
      }
    }
  }

}
