.nav-header {
  display: none;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1em;
    width: 100%;
    li {
      padding: 0;
    }
  }
  a {
    color: $body-color;
    padding: 2em 0;
    display: block;
    text-decoration: none;
  }
  font-weight: 500;
  font-size: 1.2em;

  @include tablet {
    display: flex;
    text-align: center;

  }
  @media(max-width:767px) {
    &.is-active {
      z-index: 2;
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $background-color;
      ul {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem;
        justify-content: flex-start;
      }
    }
  }
}

.hamburger {
  z-index: 3;
  @include tablet {
    display: none;
  }
  justify-self: end;
}
