.section {
  .contents {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 0 1.5em;
    padding: 0;
    gap: 1em;
    li {
      display: flex;

    }
    a {
      @extend .btn;
    }
  }
}
