.wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "preloader preloader preloader"
    ". header ."
    ". breadcrumb . "
    ". content ."
    "footer footer footer";
  transition: .2s ease;
  grid-template-columns: auto minmax(0, 1200px) auto;
}

.preloader {
  grid-area: preloader;
}

.header {
  grid-area: header;
}

.breadcrumb {
  grid-area: breadcrumb;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
