{{ define "main" }}
<main class="content landing">
  <div class="hero cloud">
    <div class="call-to-action">
      {{ .Content }}
      <a class="btn btn-primary" href="{{ .Params.cta_link }}">{{ .Params.cta_text }}</a>
    </div>
    <div class="media">
      {{ $slideshow_page := .Site.GetPage "/sales/2021/bulls/images" }}
      {{ $resource := $slideshow_page.Resources.ByType "image"  }}
      {{ partial "components/slideshow-page" $resource }}
    </div>
  </div>
  <div class="widgets">
    {{ range $.Site.Params.widgets.home }}
    <a href="{{.link}}">
      <div class="widget cloud">
        <h3 class="title">{{ .title }}</h3>
        <img src="{{ .image | absURL }}" alt="{{ .title}}"/>
      </div>
    </a>
    {{ end }}
  </div>
</main>
{{ end }}

{{ define "breadcrumb" }}
<!--No Breadcrumb on home-->
{{ end }}
