{{ define "main" }}
<main class="content section cloud">
  <h1>{{ .Title }}</h1>
  <ul class="contents">
    <!-- Sort by title, then by weight -->
    {{ range (sort .Pages.ByTitle.Reverse "Weight" )}}
    <li><a href="{{  .Permalink | absURL }}">{{.Title}}</a>
      <div>
        {{/* partial "summary.html" . */}}
      </div>
    </li>
    {{ end }}
  </ul>
  {{ with .Resources.GetMatch "*.csv" }}
  {{ partial "components/dataTable" . }}
  {{ end }}
  {{ with .Resources.ByType "image" }}
  {{ partial "components/slideshow-page" . }}
  {{ end }}
  {{ .Content }}
  {{ template "_internal/pagination.html" . }}
</main>
{{ end }}
