{{ define "main" }}
<main class="content contact-us cloud">
  <h1>{{ .Title}}</h1>
  <div class="contact-pods">
    <div class="contacts">
      <h2>Contacts</h2>
      {{ partial "header/contacts" . }}
    </div>
    <div class="sale-representatives">
      <h2>Sale Representatives</h2>
      {{ partial "components/sale_reps" . }}
    </div>
    <div class="travel-recommendations">
      <h2>Travel</h2>

      <div class="airports">
        <h3>Airports</h3>
        {{ range site.Params.airports }}
        <div class="airport">
          <strong>{{ .name}}</strong> ({{ .identifier}})
          {{ delimit .details "<br>" }}
        </div>
        {{ end }}
      </div>

      <div class="motels">
        <h3>Motels</h3>
        {{ range site.Params.motels }}
        <div class="motel">
          <a target="_blank" href="{{.url}}"><strong>{{ .name}}</strong></a>
          {{ delimit .details "<br>" }}
        </div>
        {{ end }}
      </div>

    </div>
  </div>
</main>

{{ end }}
